body {
	background-color: #b4b1b1;
}

#wraper {
	margin: 1%;
	padding: 1%;
}

#customer_start_data {
	display: inline-block;
}

.control_block {
	color: #666666;
	background-color: #ffffff;
	border-color: #eeeeee;
	display: inline-block;
	padding: 5px;
	font-weight: normal;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 13px;
	line-height: 1.846;
	border-radius: 3px;
	-webkit-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
}

.panel {
	text-align: center;
	display: block;
}

.view_icon {
	position: relative;
	float: right;
}

.adjust_icon:HOVER {
	-webkit-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
}

.view_icon:HOVER {
	-webkit-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
}

.adjust_icon {
	position: relative;
	float: right;
}

.block_title {
	vertical-align: middle;
	margin: 15px;
	display: inline;
}

#zones_popup li {
	padding: 10px;
	list-style-type: none;
}

#zones_popup {
	display: inline-block;
	display:none;
	position: relative;
	top: -70px;
	left: 20%;
}
/*Zone Hierarchy data tree and all components*/

#zoneHierarchiDataTree li {
 list-style-type: none; 
}
.delete_btn{
position: relative;
/*TODO USE RELATIVE (%) SIZING  */ 
bottom:8px;
}
.clickableIcon:HOVER{
	 transform:scale(1.3);
}
.clickableIcon:ACTIVE{
	 transform:scale(0.75);
}

.zoneGroups_basicView{
	margin:10px;
	color: #666666;
	background-color: #ffffff;
	border-color: #eeeeee;
	display: inline-block;
	padding: 5px;
	font-weight: normal;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 18px;
	line-height: 1.846;
	border-radius: 3px;
	-webkit-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 10px 43px -1px rgba(0, 0, 0, 0.75);
}

/*for all expanded areas*/
.zoneGroups_ExpandedView{
}
/*for all expanded areas*/

.zoneGroups_ExpandedView form input{
	font-size: 12px;
}
.zoneGroups_ExpandedView td{
	text-align: right;
	padding: 5px;
	font-size: 12px;
}
.accepth_changes_btn{
position: relative;
float: right;
}


/*Zones  */
.zones_basicView{
	position:relative;
	left:10%;
	font-size: 15px;
}

.zones_basicView .delete_btn{
position: relative;
bottom:4px;
}


/*additional and surplus*/
.additional_basicView{
	
	position:relative;
	left:18%;
	font-size: 15px;
}

.additional_basicView .delete_btn{
position: relative;
bottom:4px;
}





